<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Home</title>
    </head>
    <body id="page-top">
        <div id="content" layout:fragment="content" >
            <header class="jumbotron">
                <div class="header-content-inner container" style="height: 485px; padding-top: 290px; text-align: center;">
                    <h1>Welcome to the Header</h1>
                    <p><a class="btn btn-primary btn-lg page-scroll" href="#about" role="button">Learn more »</a></p>
                </div>
            </header>
            <div class="container" style="padding-bottom: 40px;">
                
            </div>

        </div>
    </body>
</html>
