<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Test 2</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>This is test page 2</div>
        <div data-fragment-name='test1'>
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center">This is a two column layout from service2</h3>
                </div>
                <div class="col-lg-6">
                    <p>This is some random content for the left side of this column layout. Isn't it great to be here?</p>
                </div>
                <div class="col-lg-6">
                    <img src='/static/images/convergent-doge.png' width="300"/>
                </div>
            </div>
        </div>
    </body>
</html>
